<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>jdbc</servlet-name>
        <servlet-class>jdbc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eventAdd</servlet-name>
        <servlet-class>eventAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sLogin</servlet-name>
        <servlet-class>sLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>volunteer</servlet-name>
        <servlet-class>volunteer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del</servlet-name>
        <servlet-class>del</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sponsor</servlet-name>
        <servlet-class>sponsor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delVol</servlet-name>
        <servlet-class>delVol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feed</servlet-name>
        <servlet-class>feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delFeed</servlet-name>
        <servlet-class>delFeed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jdbc</servlet-name>
        <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventAdd</servlet-name>
        <url-pattern>/eventAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sLogin</servlet-name>
        <url-pattern>/sLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>volunteer</servlet-name>
        <url-pattern>/volunteer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sponsor</servlet-name>
        <url-pattern>/sponsor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delVol</servlet-name>
        <url-pattern>/delVol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feed</servlet-name>
        <url-pattern>/feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delFeed</servlet-name>
        <url-pattern>/delFeed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
